.footer-list {
  border-top: solid 1px;
  display:flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.footer-list > li {
  list-style: none;
  padding-right: 0.5rem;
  font-size: 0.75rem;
  margin: 1rem;
}
