:root {
  --background-color: #484848;
  --nav-color: #212121;
}

body {
  background-color: var(--background-color);
  color: white;
  margin: 0;
}
nav {
  width: 100%;
  height: 7vh;
  background-color: var(--nav-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav_logo {
  font-size: 2rem;
  padding-left: 1rem;
  color: white;
}

.nav_btn {
  padding-right: 1rem;
}

#btn_gallery,
#btn_info {
  background-color: pink;
  border: none;

  cursor: pointer;
}

section {
  width: 100vw;
  height: 89vh;

  display: flex;
  justify-content: space-around;
}

.weather {
  width: 100%;
  text-align: center;
}

#spring {
  background-image: url("");
}

#summer {
  background-image: url("");
}

#autumn {
  background-image: url("");
}

#winter {
  background-image: url("");
}
