:root {
  --background-color: #484848;
  --nav-color: #212121;
}

body {
  background-color: var(--background-color);
  color: white;
  margin: 0;
}
header {
  width: 100%;
  height: 7vh;
  background-color: var(--nav-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav_logo {
  font-size: 2rem;
  padding-left: 1rem;
  color: white;
}

.nav_btn {
  padding-right: 1rem;
}




