:root {
  --header-height: 7vh;
}

body {
  margin: 0;
}

header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav_logo {
  font-size: 2rem;
  padding-left: 1rem;
}

.nav_btn {
  padding-right: 1rem;
}




